.breadcrumb-block{ padding: 0; background-color:#E5F4FF;}
.breadcrumb{background-color: $color-none;margin: 0;padding: 0; 
    @include border-radius(0px);
    .font-base{ color: $color-primary; font-size: 24px;line-height: 40px; font-weight: normal;}
    li{position: relative; @extend .font-base;
        .link{@extend .font-base;
            &:hover{color: $color-secondary;}
            >span{position: relative; top: 2px;}
        }
        &.active{
            min-width: 300px; max-width: 500px;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;
        }
    }
    li + li{padding-left: 20px;margin-left: 10px;
        &:before{content: '';position: absolute; left: 0; top: 0;  bottom: 0; margin: auto;  padding: 0;width: 10px; height: 10px; 
            border-right: 1px solid $color-primary; 
            border-bottom: 1px solid $color-primary; 
            @include transform(rotate(-45deg)) 
        }
    }
}