@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
}
@mixin box-shadow($shadow) {
    -webkit-box-shadow: ($shadow);
    -moz-box-shadow: ($shadow);
    box-shadow: ($shadow);
}
@mixin text-shadow($shadow) {
    -webkit-text-shadow: ($shadow);
    -moz-text-shadow: ($shadow);
    text-shadow: ($shadow);
}
@mixin transform($transform) {
    -webkit-transform: ($transform);
    -moz-transform: ($transform);
    -ms-transform: ($transform);
    -o-transform: ($transform);
}
@mixin transition($transition) {
    -webkit-transition: ($transition);
    -moz-transition: ($transition);
    -o-transition: ($transition);
    -ms-transition: ($transition);
    transition: ($transition);
}