.page-contact{background-color: #C3CDD2; position: relative; padding-top: 60px;
	&:before{content: ''; position: absolute; top: 0; right: 50%; margin-right: -952px; width: 475px; height: 965px;
		background-image: url(../img/static/ojb-Pcontact.png); pointer-events: none;
		background-size: contain; background-position: center; background-repeat: no-repeat;
	}
	.ojb{position: absolute; z-index: 1; pointer-events: none;}
	.-ojbI{top: 140px;left: 50%;margin-left: -1020px; animation: circle-R 4s infinite linear;}
	.-ojbII{bottom: -290px;left: 50%;margin-left: -1360px; animation: circle-R-reverse 4s infinite linear;}
	.-ojbIII{top: 200px;right: 50%;margin-right: -690px; z-index: 2; animation: circle-R 4s infinite linear;}
	.-ojbIV{bottom: 0;right: 50%; margin-right: 0px; z-index: 2;}
}
.contact-box{position: relative; z-index: 1; width: 850px; margin-left: auto; margin-right: auto;
	&:before{content: ''; position: absolute; top: 0; left: 0; right: 0; bottom: -10%;
		background-color: $color-light; z-index: 1;
		@include border-radius(3px 3px 0 0);
		@include box-shadow(0 10px 20px 0 rgba(0,0,0,0.16));
	}
	&:after{content: ''; position: absolute; top: 0; left: -60px; bottom: -10%; width: 100%;
		background-color: #2A2A2A; z-index: -1;
		@include border-radius(3px 3px 0 0);
		@include box-shadow(0 10px 20px 0 rgba(0,0,0,0.16));
		@include transform(rotate(-2deg));
	}
	.inner{position: relative; z-index: 2; width: 100%; 
		padding: 40px; padding-bottom: 65px; background-color: $color-light;
		@include border-radius(3px 3px 0 0);
		@include box-shadow(0 10px 20px 0 rgba(0,0,0,0.16));
		&:before{content: ''; position: absolute; top: 0; left: 0; right: 0; bottom: -10%;
			background-color: $color-light; z-index: 0;
			@include border-radius(3px 3px 0 0);
			@include box-shadow(0 10px 20px 0 rgba(0,0,0,0.16));
			@include transform(rotate(2deg));
		}
	}
}
.contact-info{
	.address,
	.fax,
	.tel{padding-left: 45px; position: relative; margin-top: 20px;
		font-size: 20px; font-weight: normal; line-height: 1.2em; color: #444444;
	}
	.tel{
		.link{color: #444444; position: relative;
			&:before{content: ''; position: absolute; left: 0; right: 0; bottom: 0px; height: 1px; background-color: $color-light;
				@include transition(All 400ms ease); opacity: 0;
			}
			&:hover:before{opacity: 1;}
		}
	}
	.icon{position: absolute; top: -5px; left: 0; width: 35px; height: 35px; background-color: #247BE8;
		display: flex; align-items: center; justify-content: center;
		@include border-radius(50%);
	}
	.social-list{margin-top: 25px;
        li+li{margin-left: 10px;}
        .link{position: relative; top: 0;}
    }
    .social-list:hover .link{opacity: 0.5;}
    .social-list:hover .link:hover{opacity: 1; top: -3px;}
	.action{padding-top: 40px;
		.btn{min-width: 200px; height: 40px; line-height: 38px;
			.lazy{margin-right: 10px; filter: brightness(0) grayscale(1) invert(1);
				@include transition(All 400ms ease);
			}
		}
		.btn:hover{
			.lazy{filter: brightness(1) grayscale(0) invert(0);}
		}
		.btn+.btn{margin-top: 10px;}
	}
}
.contact-form{width: 400px; padding: 40px;
	background-image: url(../img/background/bg-contact-form.jpg);
	background-size: cover; background-position: center; background-repeat: no-repeat;
	@include box-shadow(0 10px 20px 0 rgba(0,0,0,0.16));
	.form-default{display: none;}
    .form-default.active{display: block;}
    .form-button{text-align: left;}
    .submit{display: none;
		.height{height: 500px;}
		.txt-content{text-align: center; width: 320px;}
		.lazy{width: 200px; margin-bottom: 20px;}
		.title{font-size: 40px; font-weight: bold; color: $color-dark; margin-bottom: 0px; line-height: 1;}
		.desc{font-size: 24px; color: $color-darkgray; line-height: 1.2;}
		.action{padding-top: 20px; text-align: center;
			.btn{min-width: 200px; height: 40px; line-height: 38px;}
		}
    }
    .submit.active{display: block;}
}