.page-detail{position: relative; padding: 60px 0; overflow: hidden;
    .ojb{position: absolute; z-index: 1; pointer-events: none;}
    .whead{margin-bottom: 40px;
        .title:before,
        .s-title:before,
        .desc-title:before{ width: 60px;}
    }
}
.head-detail{padding-bottom: 30px;
    border-bottom: 1px solid #D8D8D8;
    .h-title{font-size: 48px; font-weight: bold; line-height: 1; color: $color-primary;}
    .info{display: flex; align-items: center;
        .icon{width: 35px; height: 35px; background-color: #247BE8;
            display: flex; align-items: center; justify-content: center;
            @include border-radius(50%);
        }
        .txt{font-size: 24px; font-weight: normal; line-height: 1; color: #444444; padding-left: 10px;}
        .box-info{display: flex; align-items: center;}
        .box-info+.box-info{margin-left: 20px;}
    }
    .social-list{display: flex; align-items: center; justify-content: flex-end;
        li+li{margin-left: 10px;}
        .link{position: relative; top: 0;}
    }
    .social-list:hover .link{opacity: 0.5;}
    .social-list:hover .link:hover{opacity: 1; top: -3px;}
}
.cover-detail{position: relative; margin-top: 40px;
	.-ojbI{top: -80px; right: 50%; margin-right: -1020px; animation: circle-R 8s infinite linear;}
	.-ojbII{top: 210px; right: 50%; margin-right: -870px; animation: circle-R-reverse 4s infinite linear;}
    img{display: block; margin: 0 auto; max-width: 100%;}
}
.editor-content{
    .-ojbI{top: -320px;left: 50%; margin-left: -1280px; animation: spins 80s infinite linear;}
	.-ojbII{top: 280px; left: 50%; margin-left: -870px; animation: circle-R-reverse 4s infinite linear;}
}
.video-box{margin: 0 auto; margin-top: 40px; width: 1000px; position: relative;
    .-ojbI{top: 90px; right: 50%; margin-right: -900px; animation: circle-R 5s infinite linear;}
    .-ojbII{top: 200px; right: 50%; margin-right: -840px; animation: circle-R-reverse 5s infinite linear;}
}

.gallery-box{position: relative; margin-top: 40px;}
.gallery-slide{position: relative; margin: 0 -20px;
    .slick-dots{position: relative; bottom: 0; margin-top: 40px;}
    .item{padding: 0 20px;}
    .cover{position: relative; width: 100%; height: 0; padding-bottom: 76%; overflow: hidden;
        .lazy{position: absolute; top: 0; left: 0; width: 100%; height: 100%;
            @include transition(All 400ms ease);
        }
    }
    .link:hover{
        .cover{
            .lazy{transform: scale(1.1);}
        }
	}
}
.download-box{position: relative; margin-top: 40px;
    .-ojbI{top: -180px; left: 50%; margin-left: -920px; animation: circle-R-reverse 4s infinite linear;}
}
.download-slide{position: relative; margin: 0 -20px;
    .slick-dots{position: relative; bottom: 0; margin-top: 40px;}
    .slick-list{overflow: visible;}
    .slick-slide{opacity: 0; pointer-events: none; 
        @include transition(All 400ms ease);
    }
    .slick-slide.slick-active{opacity: 1; pointer-events: visible;}
    .item{padding: 0 20px;}
    .box-content{position: relative; z-index: 1;
		&:before{content: ''; position: absolute; top: 0; left: 0; right: 0; bottom: 0;
			background-color: #F1F1F1; z-index: 0;
			@include border-radius(3px 3px 0 0);
			@include box-shadow(0 10px 20px 0 rgba(0,0,0,0.16));
			@include transform(rotate(-2deg));
		}
		.inner{position: relative; width: 100%; 
			padding: 25px 20px; background-color: #F1F1F1;
			@include border-radius(3px 3px 0 0);
			@include box-shadow(0 10px 20px 0 rgba(0,0,0,0.16));
		}
		.ojb-box-clip{position: absolute; top: -48px; right: 50px;}
		.title{ position: relative; padding-bottom: 15px; display: flex; margin-right: 100px;
            &:before{content: ''; position: absolute; left: 0; bottom: 5px; 
                width: 40px; height: 4px; background-color: $color-primary; margin: auto;
            }
            .txt{font-size: 30px; font-weight: bold; line-height: 1em; color: $color-primary;
                overflow: hidden; height: 0.9em; display: -webkit-box; 
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 1;
            }
            .type{font-size: 30px; font-weight: bold; line-height: 1em; color: $color-primary;
            }
        }
        .data-list{padding-top: 10px;
            .item-list{
                li{display: flex; align-items: center;
                    +li{margin-left: 10px;}
                }
            }
            .icon{width: 20px; height: 20px; background-color: $color-primary;
                display: flex; align-items: center; justify-content: center;
                @include border-radius(50%);
            }
            .txt{font-size: 20px; font-weight: normal; line-height: 1; color: #444444; padding-left: 6px;}
        }
        .action{text-align: right;
            .btn{min-width: 150px; text-align: right; height: 40px; line-height: 40px; position: relative;
                border: none; padding: 0 15px; color: $color-primary; background-color: $color-light;
                @include box-shadow(5px 5px 10px 0 rgba(0,0,0,0.16));
                .icon{width: 40px; height: 40px; background-color: $color-primary;
                    display: flex; align-items: center; justify-content: center;
                    position: absolute; top: 0; left: 0; bottom: 0; margin: auto;
                    @include border-radius(50%);
                }
            }
            .btn:hover{
                .icon{
                    .lazy{
                        animation-name: hvr-icon-hang-sink, hvr-icon-hang;
                        animation-duration: .3s, 1.5s;
                        animation-delay: 0s, .3s;
                        animation-timing-function: ease-out, ease-in-out;
                        animation-iteration-count: 1, infinite;
                        animation-fill-mode: forwards;
                        animation-direction: normal, alternate;
                    }
                }
            }
        }
	}
}
.end-box{margin-top: 40px; padding-top: 40px; border-top: 1px solid #D8D8D8;
    &:after{content: ''; display: table; clear: both;}
    .btn{min-width: 120px; height: 40px; line-height: 38px;
        .feather{position: relative; top: 3px;}
        &.-left{float: left;
            .feather{margin-right: 10px;}
        }
        &.-right{float: right;
            .feather{margin-left: 10px;}
        }
    }
}

.know-plan{position: relative; z-index: 1; padding-top: 60px; padding-bottom: 150px;
    background-image: url(../img/background/bg-wg-statistics.jpg);background-attachment: fixed;
    background-position: center; background-repeat: no-repeat; background-size: cover;
    .whead{
        .title:before,
        .s-title:before,
        .desc-title:before{ width: 60px;}
    }
    .ojb{position: absolute; z-index: 1; pointer-events: none;}
	.-ojbI{bottom: -40px; left: 50%; margin-left: -920px; animation: circle-R 4s infinite linear;}
	.-ojbII{bottom: -80px; left: 50%; margin-left: -850px; animation: circle-R-reverse 4s infinite linear;}
    .wg-book-slide{
        .slick-dots {bottom: -150px;}
    }
}
.know-plan-slide{position: relative; margin: 0 -20px;
    .slick-dots {bottom: -80px;}
    .slick-list{overflow: visible;}
    .slick-slide{opacity: 0; pointer-events: none; 
        @include transition(All 400ms ease);
    }
    .slick-slide.slick-active{opacity: 1; pointer-events: visible;}
    .item{padding: 0 20px;}
    .box-content{position: relative; z-index: 1;
		.inner{position: relative; width: 100%;  background-color: #fff;
			padding: 20px; padding-left: 120px;
			@include border-radius(3px 3px 0 0);
			@include box-shadow(0 10px 20px 0 rgba(0,0,0,0.16));
		}
		.ojb-box-clip{position: absolute; top: -41px; right: 10px;}
        .thumb{position: absolute; top: 20px; left: 20px; width: 80px; height: 80px; 
            border: 1px solid $color-primary; display: flex; align-items: center; justify-content: center;
            @include border-radius(50%);
            .icon{ width: 61px; height: 61px; text-align: center; padding-top: 10px;
                background-color: $color-primary;
                @include border-radius(50%);
                .lazy{display: block; margin: 0 auto; margin-bottom: 2px;}
                .txt{font-size: 14px; font-weight: normal; line-height: 1; color: $color-light;}
            }
        }
        .date{font-size: 20px; font-weight: normal; line-height: 1; color: #959595; margin-bottom: 5px;}
		.title{ position: relative; padding-bottom: 15px; padding-right: 90px;
            &:before{content: ''; position: absolute; left: 0; bottom: 5px; 
                width: 40px; height: 4px; background-color: $color-primary; margin: auto;
            }
            .txt{font-size: 24px; font-weight: bold; line-height: 1em; color: $color-primary;
                overflow: hidden; height: 1.9em; display: -webkit-box; 
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
            }
        }
        .data-list{padding-top: 10px;
            .item-list{
                li{display: flex; align-items: center;
                    +li{margin-left: 10px;}
                }
            }
            .icon{width: 20px; height: 20px; background-color: $color-primary;
                display: flex; align-items: center; justify-content: center;
                @include border-radius(50%);
            }
            .txt{font-size: 20px; font-weight: normal; line-height: 1; color: #444444; padding-left: 6px;}
        }
        .action{text-align: right; padding-top: 30px;
            .btn{min-width: 180px; text-align: right; height: 50px; line-height: 50px; position: relative;
                border: none; padding: 0 40px; color: $color-primary; background-color: $color-light;
                @include box-shadow(5px 5px 10px 0 rgba(0,0,0,0.16));
                .icon{width: 50px; height: 50px; background-color: $color-primary;
                    display: flex; align-items: center; justify-content: center;
                    position: absolute; top: 0; left: 0; bottom: 0; margin: auto;
                    @include border-radius(50%);
                }
                +.btn{margin-left: 20px;}
            }
            .btn:hover{
                .icon{
                    .lazy{
                        animation-name: hvr-icon-hang-sink, hvr-icon-hang;
                        animation-duration: .3s, 1.5s;
                        animation-delay: 0s, .3s;
                        animation-timing-function: ease-out, ease-in-out;
                        animation-iteration-count: 1, infinite;
                        animation-fill-mode: forwards;
                        animation-direction: normal, alternate;
                    }
                }
            }
        }
	}
}

.detail-other.wg-book{position: relative; z-index: 1; padding-top: 60px; padding-bottom: 150px;
    background-image: url(../img/background/bg-wg-statistics.jpg);background-attachment: fixed;
    background-position: center; background-repeat: no-repeat; background-size: cover;
    .whead{
        .title:before,
        .s-title:before,
        .desc-title:before{ width: 60px;}
    }
    .ojb{position: absolute; z-index: 1; pointer-events: none;}
	.-ojbI{top: -350px; right: 50%; margin-right: -1170px; animation: circle-R 4s infinite linear;}
    .wg-book-slide{
        .slick-dots {bottom: -150px;}
    }
}