.map-page{
    .nav-map{ pointer-events: none;
        text-align: right;  position: fixed;  z-index: 99;  top: 26px;  right: 0; width: 100%;
        @include transition(All 400ms ease);
        .nav-list{display: inline-block; vertical-align: middle; pointer-events: visible;
            >li+li{margin-left: 20px;}
        }
        .btn{min-width: 150px; height: 40px; line-height: 38px;}
    }
    .iframe-container{padding-bottom: 0; height:calc(100vh - 100px);}
    .map-graphic{padding: 30px 0;
        background-image: url(../img/background/bg-graphic-map.jpg);
        background-position: center; background-repeat: no-repeat; background-size: cover;
        .cover{width: 1280px; margin: 0 auto;
            img{object-fit: cover; object-position: center; height:calc(100vh - 160px);}
        }
    }
}