$color-light: #ffffff;
$color-dark: #000000;
$color-darkgray: #333333;
$color-gray: #666666;
$color-lightgray: #999;
$color-red: #f00;
$color-primary: #0160D6;
$color-secondary: #056839;
$color-gold: #e9c87b;
$color-brown: #5B3C31;
$color-none: transparent;
$color-border: #ebebeb;