.text-primary{color: $color-primary !important;}
.text-secondary{color: $color-secondary !important;}
.text-red{color: $color-red !important;}
.text-gray {color: $color-gray !important;}
.text-lightgray {color: $color-lightgray !important;}
.text-gold {color: $color-gold !important;}
.text-light{color:$color-light !important;}
.text-dark{color:$color-dark !important;}
.text-darkgray{color:$color-darkgray !important;}
.text-brown{color:$color-brown !important;}